<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ParseHubApiKey" value="tRzxTUbTOTf6"/>
    <add key="ParseHubListProductsBaseUrl" value="https://www.parsehub.com/api/v2/projects/tcfSGmGmYLZF/last_ready_run/data?api_key={0}&amp;format=json"/>
  </appSettings>
</configuration>