<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ParseHubApiKey" value="tRzxTUbTOTf6"/>
    <add key="ParseHubListProductsBaseUrl" value="https://www.parsehub.com/api/v2/projects/tcfSGmGmYLZF/last_ready_run/data?api_key={0}&amp;format=json"/>
    <add key="ParseHubListBooksBaseUrl" value="https://www.parsehub.com/api/v2/projects/tgTw7uL_Gqvv/last_ready_run/data?api_key={0}&amp;format=json"/>
    <add key="InitialDescription" 
         value="
         Somos USA | direct
         
         • Este producto viene directo de USA dentro del marco del decreto 336_015. 
         • El comprador debe por lo tanto proporcionar la cedula y direccion. 
         • El pago debe realizarse por medio electronico y tener cupo habilitado en la franquicia.
         
    " />

    <add key="InitialBookDescriptiond"
     value="
         Somos USA | direct
         
         Producto importado de USA, la entrega demora de 10 a 15 dias.
         
    " />
    
    <add key="FinalDescription"
         value="
         • Todo nuestro catalogo de productos es importado.
         • Envios por MERCADO ENVIOS, o retiros por Pocitos zona de Montevideo Shopping.
         • Plazo de entrega 10 a 15 dias aproximados.
         • Factura comercial.
         
    " />
    
    <add key="DocumentaryPrice" value="7.00"/>
    <add key="Tax" value="0.935"/>
    <add key="ShipingPrice" value="109.00"/>
    <add key="DollarPrice" value="44.00"/>
    <add key="MercadoLibreTax" value="0.87"/>
    <add key="KiloPrice1to5" value="21.00"/>
    <add key="KiloPrice5to10" value="19.00"/>
    <add key="KiloPrice10to20" value="16.00"/>
    <add key="DestinationFolder" value="C:\products"/>
  </appSettings>
</configuration>